<div class="diagram-container">
  <div class="side-info">Right</div>
  <canvas #bodyDiagramFront width="179" height="400" style="border: 1px solid black"></canvas>
  <div class="side-info">Left</div>
  <canvas #bodyDiagramBack width="179" height="400" style="border: 1px solid black"></canvas>
  <div class="side-info">Right</div>
</div>
<div class="control-bar">
    <button (click)="undo()" [disabled]="!undoHistory.length">< Undo</button>
    <button (click)="redo()" [disabled]="!redoHistory.length">Redo ></button>
</div>
<div class="problem-list-container">
  <div class="problem-item" *ngFor="let problem of undoHistory">
    {{ problem.problemInfo.id }}. {{ problem.problemInfo.desc }}
  </div>
</div>