.diagram-container {
    display: flex;
    justify-content: space-evenly;
}

.side-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-bar {
    
    padding: 12px;
}

.problem-list-container {
    text-align: left;
}

.problem-item {
    box-sizing: border-box;
    border-top: 1px dashed #3d3d3d;
    padding: 4px;
    background: #CCC;
    color: #3d3d33;
    width: 100%;
}