<!--The content below is only a placeholder and can be replaced.-->
<div class="main">
  <nav>
    <a routerLink="demo" routerLinkActive="active">Demo</a>
    <a routerLink="vanillajs" routerLinkActive="active">Vanilla JS</a>
    <a routerLink="withrx" routerLinkActive="active">With RXJS</a>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

