/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    border: 1px solid #666666;
}